*{
    padding:0;
    margin:0;
}

/*------------------------header style---------------------------*/



/*------------------------body style-----------------------------*/



/*-------------------------footer style--------------------------*/ 