@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 58.5%;
}

body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color:#1e212d;
  line-height: 2;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1300px ;
}



/*----------------header style--------------*/


header{
  background-image: url("images/ebonyWallpaper.jpg");
  background-size: cover;
  align-items: center;
  justify-content: center;
  left:0;
  right:0;
  padding: 15em 0;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
}

.textbook{
  text-align: center;
  margin-top: -5vh;
}

header .img{
  max-height: 10%;
  max-width: 10%;
  float: right;
}
h1 span{
  color:#dddddd;
}

h1 span:hover{
  cursor:default;
}
h1 span:first-child{
  display: block;
  font-size: 7rem;
  letter-spacing: 1rem;
  line-height: 1;
  margin-bottom: 1em;
  font-family: 'Poppins';
}
h1 span:nth-child(2){
  display: block;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  margin: 0 0.5em;
  font-family: 'Roboto';
}

/*-----------------card style---------------*/

a{
  text-decoration: none;
}
.card-section{
  background-size: 100%;
  background-repeat: repeat;
  background-image:url("images/cardSectionWallpaper.jpg");
  display: flex;
  padding: 5em 0;
}

.grid {
  display: grid;
  width: 140em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  margin: 0 auto;
}

.grid-item {
  background-image: url("images/cardWallpaper.jpg");
  background-size: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem #0000001a;
  cursor: pointer;
  transition: 0.2s;
  margin:0 auto;
  width:25em;
  height:38em;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem #00000080;
}

.card-img {
  display: block;
  width: 100%;
  height: 15rem;
}

.card-content {
  padding: 3rem;
  border-top: solid 2px #d8d8d88a;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #000000;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3a3a3a;
  background-color: #eeeeee;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.card-btn:hover{
  background-color: #303030;
  color:#fff;
}

/*--------------footer style-------------*/
footer{
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("images/ebonyWallpaper.jpg");
  background-size: 100%;
  height: auto;
  font-family: 'Roboto';
  padding-top: 40px;
  color: #fff;
  margin: 0 auto;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 30px;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #111111;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin:0.1em;
}
.footer-botttom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

@media only screen and (max-width:650px) {
  body{
    width:100%;
  }
  header{
    padding: 10em 0 8em 0;
  }
  .grid{
    grid-template-columns: auto auto;
    grid-gap: 2rem 0;
  }
  .grid-item{
    width:70%;
    height:auto;
    max-width: 17em;
    min-width: 12em;
  }
  h1 span:first-child{
    font-size: 4rem;
  }
  h1 span:nth-child(2){
    font-size: 0.6em;
    margin-left: 2em;
    margin-right: 2em;
  }
  .card-img {
    display: block;
    width: 100%;
    height: 8rem;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-header {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }
  
  .card-text {
    font-size: 1rem;
    letter-spacing: 0rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  .card-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    letter-spacing: 0.1rem;
  }
}